---
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";
import CommentSection from "../../components/CommentSection";
import Tags from "../../components/Tags.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllBlogs, getBlog } from "../../services/api";
import { formatDate } from "../../utils";
import Popup from "../../components/Popup";
import Image from "astro/components/Image.astro";

// if (slug === undefined) {
// 	throw new Error("Slug is required");
// }
const url = encodeURIComponent(Astro.url.href);
type Blog =  {
			type: string,
			slug: string,
			title: string,
			author: string,
			tags: string[],
			titleImage: string,
			_id: string,
			createdAt: string
};
type BlogSlug = {params: {slug: string}, props: Blog};

export async function getStaticPaths(): Promise<BlogSlug[]> {
	const allBlogArticles = await getAllBlogs();
	return allBlogArticles.map(
		(blog: Blog): BlogSlug => {
			blog.type = blog.type == "article" ? "blog" : blog.type;

			return { params: { slug: blog.slug }, props: blog };
		},
	);
}

const { slug } = Astro.params;
const blog = Astro.props;
const entry = await getEntry("infographics", slug);
if (entry === undefined) {
	return Astro.redirect("/404");
}
const { Content } = await entry.render();
---

<MainLayout title={`${slug}`}>
	<div class="bg-[#252D47] text-white py-[50px] px-4 sm:px-8 2xl:px-56">
		<div class="flex justify-start gap-2 sm:gap-5">
			<div class="w-full h-full flex-1">
				<a href="/#infographics" class="text-white inline-block">
					<svg
						class="w-6 h-6 sm:w-7 sm:h-7 mt-3"
						viewBox="0 0 56 56"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M28.0003 11.6665L11.667 27.9998M11.667 27.9998L28.0003 44.3332M11.667 27.9998L44.3337 27.9998"
							stroke="white"
							stroke-width="4"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
					</svg>
				</a>
			</div>

			<div class="w-full h-full">
				<h1
					class="text-2xl sm:text-3xl md:text-4xl lg:text-[42px] sm:leading-normal font-bold mb-6"
				>
					{blog.title}
				</h1>
				<div
					class="flex flex-col gap-5 sm:gap-0 sm:flex-row justify-between mt-3"
				>
					<div class="flex w-full gap-2 items-baseline">
						<div class="">
							<Tags tags={blog.tags} />
						</div>
						<div class="hidden sm:block">•</div>
						<h3 class="text-[#d4d9de] font-normal hidden sm:block">
							{formatDate(blog.createdAt)}
						</h3>
					</div>
					<div class="flex justify-between items-center sm:flex-none">
						<h3 class="text-[#d4d9de] font-normal sm:hidden">
							{formatDate(blog.createdAt)}
						</h3>
						<div class="flex items-center gap-4">
							<div class="w-6 h-6" title="Copy link">
								<Popup client:load popupContent={"Copied!"}>
									<div id="copylinkdiv">
										<img
											src="/link-white.png"
											alt="link-icon"
											class="w-auto h-auto"
											id="linkimgtag"
										/>
									</div>
								</Popup>
							</div>
							<div class="w-7 h-7">
								<a
									class="twitter-share-button"
									href=`https://twitter.com/intent/tweet?url=${blog.title+"-"} ${url}`
									target="_blank"
									rel="noopener noreferrer"
									title="twitter"
									id="twitter-icon"
								>
									<img
										src="/twitter-icon.png"
										alt="twitter-icon"
										class="w-auto h-auto"
									/>
								</a>
							</div>
							<div class="w-7 h-7">
								<a
									href=`https://www.linkedin.com/sharing/share-offsite/?url=${url}`
									target="_blank"
									rel="noopener noreferrer"
									title="LinkedIn"
									id="LinkedIn-icon"
								>
									<img
										src="/linkedin-icon.png"
										alt="linkedin-icon"
										class="w-auto h-auto"
									/>
								</a>
							</div>
							<div class="w-7 h-7">
								<a
									href=`https://api.whatsapp.com/send?text=${url}`
									target="_blank"
									rel="noopener noreferrer"
									title="whatsapp"
									id="whatsapp-icon"
								>
									<img
										src="/whatsapp-icon.png"
										alt="whatsapp-icon"
										class="w-auto h-auto"
									/>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="">
		<article class="px-4 sm:px-8 2xl:px-56">
			<img
				src={blog.titleImage}
				alt="Article Image"
				class="rounded-xl my-6 w-[1000px] h-full text-center mx-auto"
			/>
			<Content />
		</article>
		<div
			class="flex flex-col justify-center text-center sm:flex-row mb-14 bg-[#252D47] py-6 text-white px-4 sm:px-8 2xl:px-56"
		>
			<div class="sm:hidden w-28 mx-auto">
				<hr class="border border-x-[#9aa6b8]" />
			</div>
			<div
				class="italic sm:border-x-[3px] text-[16px] sm:px-6 2xl:text-[22px] leading-9 sm:w-[80%] py-2"
			>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Blanditiis minus itaque voluptatibus perspiciatis. Impedit nobis
				molestiae cupiditate, eos, accusantium dignissimos ratione odio
				fugiat totam dolores sequi nulla maiores iste minus! Lorem ipsum
				dolor sit amet consectetur adipisicing elit. Nulla, placeat
				maxime odio earum commodi fuga. Possimus, nobis. Ut, non harum!
				Ut consectetur consequatur debitis neque, aliquam eveniet enim
				magni provident. Lorem ipsum dolor sit amet consectetur,
				adipisicing elit. Id, perferendis.
			</div>
			<div class="sm:hidden w-28 mx-auto">
				<hr class="border border-x-[#9aa6b8]" />
			</div>
		</div>
		<div class="px-4 sm:px-8 2xl:px-56 mt-10">
			<CommentSection
				client:load
				title={blog.title}
				articleId={blog._id}
				slug={blog.slug}
				currentUrl={url}
			/>
		</div>
		<div class="px-4 sm:px-8 2xl:px-56 my-20">
			<div class="mb-8 text-gray text-[24px] font-semibold">
				Similar content
			</div>
			<!-- <div class="grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
				{
					allBlogArticles.slice(0, 3).map((article: any) => {
						return (
							<div class="border-[12px] rounded-xl border-[#13159d]/[6%] shadow-[4px_4px_17px_rgba(0,0,0,0.08)]">
								<ArticleCard article={article} />
							</div>
						);
					})
				}
			</div> -->
		</div>
	</div>
</MainLayout>
<script is:inline>
	document
		.getElementById("copylinkdiv")
		?.addEventListener("click", async (event) => {
			await navigator.clipboard.writeText(window.location.href);
		});
	// document.addEventListener("astro:page-load", () => {
	// 	let ele = document.getElementById("popdiv");
	// });
</script>

<style is:global>
	p {
		margin: 20px 0;
	}

	h2 {
		margin: 20px 0;
		font-size: 1.8rem;
	}
</style>
