---
import type {
	GetStaticPaths,
	InferGetStaticParamsType,
	InferGetStaticPropsType,
} from "astro";
import { getCollection, render } from "astro:content";
import CommentSection from "components/CommentSection";
import InfographicCard from "components/InfographicCard.astro";
import SocialLinks from "components/SocialLinks";
import { formatDate } from "utils";
import Tags from "../../components/Tags.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export const prerender = true;

export const getStaticPaths = (async () => {
	const infographicContent = await getCollection("infographics");

	return infographicContent.map((post) => {
		return {
			params: { slug: post.slug },
			props: { post },
		};
	});
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { slug } = Astro.params as Params;
const { post } = Astro.props as Props;

const allInfographics = await getCollection("infographics");
const similarContent = allInfographics
	.filter((entry) => entry.slug !== slug)
	.slice(0, 3);

const { Content } = await render(post);
---

<MainLayout title={`${slug}`}>
	<!-- heading and title -->
	<div class="bg-[#30353E] text-white py-[50px] px-4 sm:px-8 2xl:px-56">
		<div class="flex justify-start gap-2 sm:gap-5">
			<div class="w-full h-full flex-1">
				<a href="javascript:window.history.back()" class="text-white inline-block">
					<svg
						class="w-7 h-7 mt-3"
						viewBox="0 0 56 56"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M28.0003 11.6665L11.667 27.9998M11.667 27.9998L28.0003 44.3332M11.667 27.9998L44.3337 27.9998"
							stroke="white"
							stroke-width="4"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
					</svg>
				</a>
			</div>

			<div class="w-full h-full flex flex-col sm:gap-2">
				<h1
					class="text-2xl sm:text-3xl md:text-4xl lg:text-[42px] sm:leading-normal font-bold"
				>
					{post.data.title}
				</h1>
				<div
					class="flex flex-col gap-6 sm:gap-3 sm:flex-row mt-3 items-baseline"
				>
					<div class="w-auto">
						<Tags tags={post.data.tags} source="infographics" />
					</div>
					<div
						class="flex justify-between items-center text-xs sm:text-sm w-full sm:flex-grow sm:w-auto"
					>
						<div class="flex gap-2">
							<div class="hidden sm:block">•</div>
							<h3 class="text-[#d4d9de] text-sm">
								{formatDate(post.data.createdAt)}
							</h3>
						</div>
						<SocialLinks client:load title={post.data.title} />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Image and body -->
	<div class="px-4 sm:px-8 2xl:px-56">
		<img
			src={post.data.titleImage}
			alt="Article Image"
			class="rounded my-6 w-full h-auto md:w-11/12 lg:w-9/12 text-center mx-auto shadow-2xl"
		/>
		<article class="">
			<Content />
		</article>
	</div>

	<!-- Quote section -->
	<div
		class="flex flex-col justify-center text-center sm:flex-row mb-14 bg-[#30353E] py-6 text-white px-4 sm:px-8 2xl:px-56"
	>
		<div class="sm:hidden w-28 mx-auto">
			<hr class="border border-x-[#9aa6b8]" />
		</div>
		<div
			class="italic sm:border-x-[3px] text-[16px] sm:px-6 2xl:text-[22px] leading-9 sm:w-[80%] py-2"
		>
			{post.data.quote}
		</div>
		<div class="sm:hidden w-28 mx-auto">
			<hr class="border border-x-[#9aa6b8]" />
		</div>
	</div>

	<!-- Comment Section -->
	<div class="px-4 sm:px-8 2xl:px-56 mt-10">
		<CommentSection
			client:only="react"
			title={post.data.title}
			articleId={post.data.db_id}
			slug={post.slug}
		/>
	</div>

	<!-- Similar Section -->
	<div class="px-4 sm:px-8 2xl:px-56 my-20">
		<div class="mb-8 text-gray text-[24px] font-semibold">
			Similar content
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-y-14 gap-x-8">
			{
				similarContent.map((infographic) => {
					return (
						<div class="shadow-[4px_4px_17px_rgba(0,0,0,0.08)] rounded-xl">
							<InfographicCard infographic={infographic} />
						</div>
					);
				})
			}
		</div>
	</div>
</MainLayout>

<style is:global>
	p {
		margin: 20px 0;
	}
	h1 {
		font-size: xx-large;
	}

	h2 {
		margin: 20px 0;
		font-size: 1.8rem;
	}
</style>
