---
import { formatDate } from "../utils";
// import Tags from "./Tags.astro";

const { article } = Astro.props;
---

<div class="mb-12">
	<div
		class="bg-white rounded-lg overflow-hidden shadow-md shadow-gray-light text-seconday1 w-full"
	>
		<a href={"/articles/" + article.slug}>
			<img
				src={article.titleImage}
				alt="Article Image"
				class="w-full h-56 object-cover hover:opacity-75 transition duration-300 ease-in-out"
				
			/>
		</a>
		<div class="px-4 py-4 flex flex-col items-stretch">
			<h2 class="text-base font-semibold pt-0 mb-10 tracking-wider h-9">
				<a href={"/articles/" + article.slug}> {article.title} </a>
			</h2>
			<!-- <div class="pb-4 text-grey">
				<p>
					In the ever-evolving world of mobile technology.
				</p>
			</div> -->
			<div class="flex justify-between font-medium text-sm">
				<h3 class="text-gray">
					{article.author}
				</h3>
				<p class="text-gray text-sm font-medium">
					{formatDate(article.createdAt)}
				</p>
			</div>
			<!-- <Tags tags={article.tags} /> -->
		</div>
	</div>
</div>
