---
import { formatDate } from "../utils";
// import Tags from "./Tags.astro";

const { article } = Astro.props;
---

<div class="max-w-md mx-auto mt-10">
	<div class="bg-default-bg rounded-lg overflow-hidden shadow-lg text-seconday1">
		<a href={"/articles/" + article.slug}>
			<img
				src={article.titleImage}
				alt="Article Image"
				class="w-full h-52 object-cover hover:opacity-75 transition duration-300 ease-in-out"
				width={200}
				height={200}
			/>
		</a>
		<div class="px-4 py-4">
			<h2 class="text-base font-semibold mb-2 pt-0 pb-4 tracking-wider">
				<a href={"/articles/" + article.slug}> {article.title} </a>
			</h2>
			<!-- <div class="pb-4 text-grey">
				<p>
					In the ever-evolving world of mobile technology.
				</p>
			</div> -->
			<div class="flex justify-between font-medium text-sm">
				<h3 class="text-gray">
					{article.author}
				  </h3>
				<p class="text-gray text-sm font-medium">
					{formatDate(article.createdAt)}
				</p>

			</div>
			<!-- <Tags tags={article.tags} /> -->
		</div>
	</div>
</div>
